aiohttp==0.21.5
asyncio-redis==0.14.2
cffi==1.5.2
chardet==2.3.0
-e git+https://github.com/Rapptz/discord.py.git@async#egg=discordAsync
pycparser==2.14
PyNaCl==1.0.1
six==1.10.0
websockets==2.7
wheel==0.26.0
